<!DOCTYPE html>
<html lang="en">

<head>



</head>

<body>
  <h1>Add data</h1>
  <form action="http://localhost:8080/api/application/" method="POST">
  <div class="page">
    <label id="position1" for="position1"><b> ตำแหน่งที่ 1:</b></label><br>
    <input type="radio" name="position1" value="positionA"> positionA <br>
    <input type="radio" name="position1" value="positionB"> positionB<br>
    <input type="radio" name="position1" value="positionC"> positionC<br>

    <label id="position2" for="position2"><b> ตำแหน่งที่ 2:</b></label><br>
    <input type="radio" name="position2" value="positionA"> positionA <br>
    <input type="radio" name="position2" value="positionB"> positionB<br>
    <input type="radio" name="position2" value="positionC"> positionC<br>

    <label for="expectedSalary"><b> เงินเดือนที่ต้องการ:</b></label><br>
    <input type="text" id="expectedSalary" name="expectedSalary" value=""><br>

    <label for="availableDate"><b> วันที่พร้อมเริ่มงาน:</b></label><br>
    <input type="date" id="availableDate" name="availableDate" value=""><br>

    <br>
    <label for="status"><b>Status:</b></label>
    <select name="status" id="status" form="statusform">
      <option value="statusA">statusA</option>
      <option value="statusB">statusB</option>
      <option value="statusC">statusC</option>
    </select>
    <br>
    <br>


    <button class="next-2 next">Next</button>
    <button type="button" class="btn btn-secondary" onclick="createData() "><a>addData</a> </button>
    </div>
  </div>
  </form>

</body>

</html>