<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>   
    async function createData(){
        const companyval = document.getElementById("company");
            const departmentval = document.getElementById("department");
            const sectionval = document.getElementById("section");
            const positionRequiredval = document.getElementById("positionRequired");
            const levelval = document.getElementById("level");
            const noval = document.getElementById("no");
            const employeeTypeval = document.getElementById("employeeType");
            const hiringPeriodval = document.getElementById("hiringPeriod");
            const sexval = document.getElementById("sex");
            const ageval = document.getElementById("age");
            const educationval = document.getElementById("education");
            const majorval = document.getElementById("major");
            const experienceval = document.getElementById("experience");
            const inFieldval = document.getElementById("inField");
            const englishTestScoreval = document.getElementById("englishTestScore");
            const skillAndKnowledgeval = document.getElementById("skillAndKnowledge");
            const requestedByval = document.getElementById("requestedBy");
            const positionRequisitionval = document.getElementById("positionRequisition");
            const commentByDepartmentHeadval = document.getElementById("commentByDepartmentHead");
            const signatureByDepartmentHeadval = document.getElementById("signatureByDepartmentHead");
            const commentByHRBPval = document.getElementById("commentByHRBP");
            const signatureHRBPval = document.getElementById("signatureHRBP");
            const signatureByDirectorHRval = document.getElementById("signatureByDirectorHR");
            const statusval = document.getElementById("status");
            const remarkval = document.getElementById("remark");
        let response = await fetch('http://localhost:8080/manpower', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                
            },
            body: JSON.stringify({
                company: companyval.value,
                    department: departmentval.value,
                    section: sectionval.value,
                    positionRequired: positionRequiredval.value,
                    level: levelval.value,
                    no: noval.value,
                    employeeType: employeeTypeval.value,
                    hiringPeriod: parseInt(hiringPeriodval).value,
                    sex: sexval.value,
                    age: parseInt(ageval).value,
                    education: educationval.value,
                    major: majorval.value,
                    experience:  experienceval.value ,
                    inField:inFieldval.value ,
                    englishTestScore: englishTestScoreval.value,
                    skillAndKnowledge: skillAndKnowledgeval.value,
                    requestedBy: requestedByval.value,
                    positionRequisition: positionRequisitionval.value,
                    commentByDepartmentHead:commentByDepartmentHeadval.value,
                    signatureByDepartmentHead:signatureByDepartmentHeadval.value,
                    commentByHRBP: commentByHRBPval.value,
                    signatureHRBP: signatureHRBPval.value,
                    signatureByDirectorHR: signatureByDirectorHRval.value,
                    status: statusval.value,
                    remark: remarkval.value
            })
        })
            .then(response => console.log(response))
            .catch(err => console.log(err));
            
        }</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="margin-top: 50px;">
    <%- include ("../layouts/Navbar.ejs") %>

    
    <div class="card">
        <div class="card-header">
            Edit Manpower
        </div>
        <div class="card-body">
            <form action="http://localhost:8080/manpower" method="POST">
                <div class="form-group">
                    <label for="company" >company:</label>
                    <input type="text" class="form-control" id="company" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="department">department:</label>
                    <input type="text" class="form-control" id="department" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="positionRequired">positionRequired:</label>
                    <input type="text" class="form-control" id="positionRequired" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="level">level:</label>
                    <input type="text" class="form-control" id="level" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="no">no:</label>
                    <input type="text" class="form-control" id="no" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="employeeType">employeeType:</label>
                    <input type="text" class="form-control" id="employeeType" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="hiringPeriod">hiringPeriod:</label>
                    <input type="text" class="form-control" id="hiringPeriod" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="sex">sex:</label>
                    <input type="text" class="form-control" id="sex" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="age">age:</label>
                    <input type="text" class="form-control" id="age" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="education">education:</label>
                    <input type="text" class="form-control" id="education" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="major">major:</label>
                    <input type="text" class="form-control" id="major" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="experience">experience:</label>
                    <input type="text" class="form-control" id="experience" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="inField">inField:</label>
                    <input type="text" class="form-control" id="inField" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="englishTestScore">englishTestScore:</label>
                    <input type="text" class="form-control" id="englishTestScore" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="skillAndKnowledge">skillAndKnowledge:</label>
                    <input type="text" class="form-control" id="skillAndKnowledge" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="requestedBy">requestedBy:</label>
                    <input type="text" class="form-control" id="requestedBy" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="positionRequisition">positionRequisition:</label>
                    <input type="text" class="form-control" id="positionRequisition" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="commentByDepartmentHead">commentByDepartmentHead:</label>
                    <input type="text" class="form-control" id="commentByDepartmentHead" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="signatureByDepartmentHead">signatureByDepartmentHead:</label>
                    <input type="text" class="form-control" id="signatureByDepartmentHead" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="commentByHRBP">commentByHRBP:</label>
                    <input type="text" class="form-control" id="commentByHRBP" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="signatureHRBP">signatureHRBP:</label>
                    <input type="text" class="form-control" id="signatureHRBP" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="signatureByDirectorHR">signatureByDirectorHR:</label>
                    <input type="text" class="form-control" id="signatureByDirectorHR" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label form="status">status:</label>
                    <input type="text" class="form-control" id="status" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="remark">remark:</label>
                    <input type="text" class="form-control" id="remark" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"  onclick="createData()">
                </div>
            </form>
        </div>
    </div>
    
    

    


</body>
</html>