<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<style type="text/css">
.bg-mynav {
    background-color: #2c3e50;
  }
</style>

<body>
    <nav class="navbar navbar-dark bg-mynav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Man-Power</a>
        </div>
      </nav>

      <div class="container">
        <div class="d-flex bd-highlight mb-3">
          <div class="me-auto p-2 bd-highlight"><h2>list</div>
          <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-secondary" onclick="getData()">getData</button>
          </div>
          <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-secondary" onclick="createData() "><a href="/add">addData</a> </button>
          </div>
</body>
</html>